* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.all {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 320px;
  height: 65vh;
  background-color: white;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  text-align: center;
  border-radius: 20px;
  box-shadow: rgb(83, 83, 83);
  padding: 16px 0;
}
img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}
p {
  padding: 0 3rem;
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
  margin-top: 2rem;
}
h1 {
  padding: 0 3rem;
  margin-top: 2rem;
  font-size: 2.2rem;
  color: #1f314f;
}
